<ion-header>
  <ion-toolbar mode="ios">
    <ion-title mode="ios">
      <h4>What to keep in mind</h4>
    </ion-title>
    <ion-buttons start>
      <button mode="ios" ion-button (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding mode="ios">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <ion-card>
          <img *ngIf="card.img" [src]="card.img">
          <ion-card-content>
            <ion-card-title>
              <h2>{{card.title}}</h2>
            </ion-card-title>
            <p>
              {{card.description}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center style="text-align: center; margin-top: 2rem;">
      <ion-col align-self-center>
        <button ion-button mode="ios" outline (click)="dismiss()">Close</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
