page-about {

  .basicInfoContainer {
    height: 30%;
  }

  .logoContainer {
    height: 30%;
  }

  .imgContainer {
    text-align: center;
    height: 80%;

    img {
      height:100%;
    }
  }

  .videoContainer {
    text-align: center;
    cursor: pointer;

    .video-thumbnail {
      position: relative;
      display: inline-block;
      max-width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 68px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          color: white;
          font-size: 32px;
        }
      }

      &:active .play-button {
        background-color: rgba(255, 0, 0, 0.9);
      }
    }
  }

}
