page-about {

  .basicInfoContainer {
    height: 30%;
  }

  .logoContainer {
    height: 20%;
  }

  .imgContainer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 80%;

    img {
      height:100%;
    }
  }

}
