page-activity {

  ion-content {
    background-color: #eeeeee !important;
  }

  .scroll-content {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .cardFooterContainer button {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-25%);
  }

  .title {
    font-weight: bold;
  }

  .card {
    ion-label {
      white-space: inherit !important;
    }
  }

  .instructionsList {
    margin-top: 20px;

    .item {
      font-size: 100%;
      padding-left: 0;
    }

    .icon {
      color: $success;
    }
  }

  .activityImg {
    max-height: 350px;
  }

}
