page-activity {

  ion-content {
    background-color: #eeeeee !important;
  }

  .scroll-content {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .cardFooterContainer button {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-25%);
  }

}
