page-activity {

  ion-content {
    background-color: #eeeeee !important;
  }

  .scroll-content {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .cardFooterContainer button {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-25%);
  }

  .activityTitle {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .activityBody {
    font-size: 1.7rem;
  }

  .activityActionsContainer {
    margin-top: 20px;

    button {
      padding-left: 0;
    }
  }

  .card {
    ion-label {
      white-space: inherit !important;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .instructionsList {
    margin-top: 20px;

    .item {
      font-size: 100%;
      padding-left: 0;
    }

    .icon {
      color: $success;
    }
  }

  .activityImg {
    width: auto !important;
    max-width: 100%;
    margin-top: 20px;
  }

  .activityNavigationBtn {
    .navLeft {
      margin-right: 5px;
    }

    .navRight {
      margin-left: 5px;
    }
  }

  .navigationContainer {
    .col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    margin-bottom: 20px;
  }

}
