<!--
  Generated template for the ActivityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ activity?.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>

    <ion-item>
      <h2 class="title">{{ activity?.title }}</h2>
      <!--<p>November 5, 1955</p>-->
    </ion-item>

    <ion-card-content>
      <p>{{ activity?.description }}</p>

      <img class="activityImg" *ngIf="activity?.img_url" [src]="'assets/img/activities/' + activity.img_url">

      <div *ngIf="activity?.id" class="instructionsList">
        <p>Οδηγίες:</p>
        <ion-list no-lines>
          <ion-item text-wrap *ngFor="let instruction of activity?.instructions">
            <ion-icon name="ios-checkmark" item-left></ion-icon>
            {{ instruction }}
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <a *ngIf="activity?.link && platform.is('core')" href="{{ activity.link }}" target="_blank">
          <button ion-button icon-left clear small>
            <ion-icon name="ios-link"></ion-icon>
            <div>Open link</div>
          </button>
        </a>
        <button *ngIf="activity?.link && !platform.is('core')" ion-button icon-left clear small (click)="openLink(activity.link)">
          <ion-icon name="ios-link"></ion-icon>
          <div>Open link</div>
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="activity?.link" ion-button icon-left clear small (click)="share(activity)">
          <ion-icon name="ios-share-alt"></ion-icon>
          <div>Share</div>
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="activity?.id" clear ion-button icon-left small [disabled]="dailyActivityCompleted" (click)="activityDoneForToday()">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Done</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
