page-sign-in {
  .error {
    color: #f53d3d;
  }

  .mode-buttons {
    a {
      font-weight: bolder;
      color: #3f51b5;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
