<!--
  Generated template for the DifficultyLevelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> {{ pageTitle }}</ion-title>
    <ion-buttons end>
      <button (click)="goToHome()" class="homeBtn">
        <ion-icon name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding *ngIf='levels?.length > 2'>
    <div class="description">{{ 'select_difficulty_level' | translate }}</div>
    <buttons-list [buttons]="levels" (buttonClick)="selectLevel($event)"></buttons-list>
  </div>

  <div class="activitiesContainer">
    <cards-list *ngIf='activities?.length > 0' [cards]="activities" (cardClick)="selectActivity($event)"></cards-list>
  </div>

</ion-content>
