rate {

  .rateContainer {
    padding: 25px 0;
    text-align: center;

    ion-icon {
      font-size: 3em;
      margin: 0 5px;
      padding: 0;
      color: #FFB300;
    }

    .rateBtn {
      background-color: white;
      font-size: inherit;
    }
  }

}
