<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>διΆνοια</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <div class="logoContainer">
      <img class="logo" src="assets/img/icon.png">
    </div>
  </div>

  <div class="activitiesContainer">
    <div padding style="padding-bottom: 0">
      <buttons-list *ngIf='buttons?.length > 0' [buttons]="buttons" (buttonClick)="goTo($event)"></buttons-list>
    </div>
    <p padding>Δείτε περισσότερες επιλογές στο κεντρικό μενού</p>
    <!--<cards-list *ngIf="activities?.length > 0" [cards]="activities" (cardClick)="selectActivity($event)"></cards-list>-->
  </div>
  <!--<ion-tabs>-->
    <!--<ion-tab [root]="tab1Root" tabTitle="Activities" tabIcon="ios-list-outline"></ion-tab>-->
    <!--<ion-tab [root]="tab2Root" tabTitle="Σχετικά" tabIcon="information-circle"></ion-tab>-->
  <!--</ion-tabs>-->

</ion-content>
