<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'notification_settings' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="platform.is('cordova')">

    <ion-list radio-group [(ngModel)]="selectedNotificationId">
      <ion-list-header>
        {{ 'receive_notifications' | translate }}:
      </ion-list-header>

      <ion-item *ngFor="let notificationOption of notificationOptions">
        <ion-label>{{ notificationOption.title }}</ion-label>
        <ion-radio value="{{ notificationOption.id }}"></ion-radio>
      </ion-item>

    </ion-list>
    <button large ion-button (click)="saveNotificationSettings()">{{ 'save' | translate }}</button>
  </div>

  <div *ngIf="!platform.is('cordova')">
    <h4>{{ 'notifications_not_supported' | translate }}</h4>
  </div>

</ion-content>
