// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content { font-size: 1.6rem;}

.menu {
  .subList {
    margin-bottom: 0;
  }

  .closeMenuBtn {
    background-color: transparent;
    ion-icon {
      font-size: 140%;
    }
  }


}

.activitiesContainer {
  background-color: #eeeeee;
  padding-top: 1px;
  padding-bottom: 1px;
}

.homeBtn {
  background-color: transparent;
  color: white;

  ion-icon {
    font-size: x-large;
  }
}

.button {
  border-radius: 5px;

}

.buttonsContainer {
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.version {
  margin-top: 0;
  .label {
    font-size: small;
    color: #888888;
    margin-top: 0;
  }
}
