<ion-split-pane>
  <ion-menu [content]="content" class="menu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons left>
          <button *ngIf="platform.is('cordova')" menuClose class="closeMenuBtn">
            <ion-icon name="md-close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>{{ 'menu_title' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label mode="ios">
            <button mode="ios" ion-button outline>{{ 'select_language' | translate }}</button>
          </ion-label>
          <ion-select (ionChange)="setLang($event)">
            <ion-option [selected]="lang.code === translate.store.currentLang" *ngFor="let lang of languages"
                        [value]="lang.code">
              {{ lang.name }}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="shapesMode">
          <ion-label mode="ios">
            <button mode="ios" ion-button color="danger" large (click)="exitApp()">{{ 'exit' | translate }}</button>
          </ion-label>
        </ion-item>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button ion-item (click)="login()">
          {{ 'login_btn' | translate }}
          <ion-badge item-end>SHAPES</ion-badge>
        </button>
        <button menuClose ion-item (click)="openLink('https://dianoia.scify.org/')">
          Dianoia Marketplace
          <ion-badge item-end>NEW</ion-badge>
        </button>
        <div *ngIf="!shapesMode">
          <button style="padding-top: 12px; padding-bottom: 12px;" padding mode="ios" ion-button
                  *ngIf="!platform.is('cordova')"
                  (click)="openLink('https://play.google.com/store/apps/details?id=org.scify.dianoia.app&hl=el')">
            <img style="height: 100%; margin-right: 15px;" src="assets/img/google-play.png">
            {{ 'download_app' | translate }}
          </button>
        </div>
        <p ion-item padding class="version">v{{appVersionName}}</p>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" #mainNav main></ion-nav>
</ion-split-pane>
