page-info-list {

  .basicInfoContainer {
    height: 40%;
  }
  .imgContainer {
    text-align: center;
    margin-bottom: 20px;
    height: 80%;

    img {
      height:100%;
    }
  }

  .aboutList {
    margin-top: 20px;
    margin-bottom: 20px;
    .item {
      padding-left: 0;

      .icon {
        margin-right: 5px;
        font-size: 200% !important;
        color: $success;
      }

      .item-inner {
        margin-left: 0 !important;

        .label {
          font-size: 1.6rem !important;
        }
      }
    }
  }

}
