page-cards-list {

  ion-content {
    background-color: $page-background-color !important;

    .title {
      margin-left: 12px;
      margin-bottom: 15px;
    }

    ion-card-header {
      font-weight: bold;
    }

    ion-card {
      margin-bottom: 20px !important;
    }
  }

}
