<ion-header>

  <ion-navbar>
    <ion-title>{{ 'basic_info_btn_title' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <buttons-list *ngIf='buttons?.length > 0' [buttons]="buttons" (buttonClick)="goTo($event)"></buttons-list>

  <div class="videoContainer" *ngIf="youtubeThumbnail" (click)="openYoutubeVideo()">
    <div class="video-thumbnail" [style.width.px]="getContainerWidth()" [style.height.px]="getContainerWidth() / 1.77">
      <img [src]="youtubeThumbnail" alt="Video thumbnail">
      <div class="play-button">
        <ion-icon name="play"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
